[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
scikit-learn = "==1.3.1"
pandas = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.10"
